@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/MaisonNeue-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/MaisonNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/MaisonNeue-Demi.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/MaisonNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/MaisonNeue-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Glitten";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Glitten.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/Recoleta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Recoleta-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Recoleta-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Recoleta-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Recoleta-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/RecoletaAlt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/RecoletaAlt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/RecoletaAlt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/RecoletaAlt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Recoleta Alt";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/RecoletaAlt-Black.ttf") format("truetype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-maison: "Maison Neue", sans-serif;
  --font-glitten: "Glitten", sans-serif;
  --font-recoleta: "Recoleta", sans-serif;
  --font-recoleta-alt: "Recoleta Alt", sans-serif;
  --color-green-kwn: var(--green-kwn);
  --color-green-soft-kwn: var(--green-soft-kwn);
  --color-theme1-primary: var(--theme1-primary);
  --color-theme1-secondary: var(--theme1-secondary);
  --color-theme2-primary: var(--theme2-primary);
  --color-theme2-secondary: var(--theme2-secondary);
  --color-theme4-primary: var(--theme4-primary);
  --color-theme4-secondary: var(--theme4-secondary);
  --color-theme3-primary: var(--theme3-primary);
  --color-theme3-secondary: var(--theme3-secondary);
  --color-theme5-primary: var(--theme5-primary);
  --color-theme5-secondary: var(--theme5-secondary);
  --color-theme6-primary: var(--theme6-primary);
  --color-theme6-secondary: var(--theme6-secondary);
  --color-theme7-primary: var(--theme7-primary);
  --color-theme7-secondary: var(--theme7-secondary);
  --color-theme8-primary: var(--theme8-primary);
  --color-theme8-secondary: var(--theme8-secondary);
  --color-theme9-primary: var(--theme9-primary);
  --color-theme9-secondary: var(--theme9-secondary);
}

@utility container {
  @apply mx-auto px-4 md:px-6 lg:px-8;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
  --font-maison: "Maison Neue", sans-serif;
  --font-glitten: "Glitten", sans-serif;
  --font-recoleta: "Recoleta", sans-serif;
  --font-recoleta-alt: "Recoleta Alt", sans-serif;
  --green-kwn: oklch(0.5192 0.0971 139.19);
  --green-soft-kwn: oklch(0.9272 0.0226 141.23);
  --theme1-primary: oklch(0.7248 0.043 51.26);
  --theme1-secondary: oklch(0.9201 0.0138 46.22);
  --theme2-primary: oklch(0.5142 0.0693 106.54);
  --theme2-secondary: oklch(0 0 0);
  --theme3-primary: oklch(0.7587 0.0797 22.99);
  --theme3-secondary: oklch(0.2892 0.0404 24.63);
  --theme4-primary: oklch(0.7394 0.0534 130.88);
  --theme4-secondary: oklch(0.9411 0.0102 131.36);
  --theme5-primary: oklch(0.5926 0.223498 258.4146);
  --theme5-secondary: oklch(0.2784 0.0937 255.62);
  --theme6-primary: oklch(0.5684 0.1696 295.47);
  --theme6-secondary: oklch(0.1956 0.1135 286.07);
  --theme7-primary: oklch(0.7587 0.0797 22.99);
  --theme7-secondary: oklch(0.2892 0.0404 24.63);
  --theme8-primary: oklch(0.5684 0.1696 295.47);
  --theme8-secondary: oklch(1 0 0);
  --theme9-primary: oklch(0.5684 0.1696 295.47);
  --theme9-secondary: oklch(1 0 0);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --font-maison: "Maison Neue", sans-serif;
  --font-glitten: "Glitten", sans-serif;
  --font-recoleta: "Recoleta", sans-serif;
  --font-recoleta-alt: "Recoleta Alt", sans-serif;
  --green-kwn: oklch(0.5192 0.0971 139.19);
  --green-soft-kwn: oklch(0.9272 0.0226 141.23);
  --theme1-primary: oklch(0.7248 0.043 51.26);
  --theme1-secondary: oklch(0.9201 0.0138 46.22);
  --theme2-primary: oklch(0.5142 0.0693 106.54);
  --theme2-secondary: oklch(0 0 0);
  --theme3-primary: oklch(0.7587 0.0797 22.99);
  --theme3-secondary: oklch(0.2892 0.0404 24.63);
  --theme4-primary: oklch(0.7394 0.0534 130.88);
  --theme4-secondary: oklch(0.9411 0.0102 131.36);
  --theme5-primary: oklch(0.5926 0.223498 258.4146);
  --theme5-secondary: oklch(0.2784 0.0937 255.62);
  --theme6-primary: oklch(0.5684 0.1696 295.47);
  --theme6-secondary: oklch(0.1956 0.1135 286.07);
  --theme7-primary: oklch(0.7587 0.0797 22.99);
  --theme7-secondary: oklch(0.2892 0.0404 24.63);
  --theme8-primary: oklch(0.5684 0.1696 295.47);
  --theme8-secondary: oklch(1 0 0);
  --theme9-primary: oklch(0.5684 0.1696 295.47);
  --theme9-secondary: oklch(1 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-maison;
  }
  body {
    @apply bg-background text-foreground font-maison;
  }
}

button {
  @apply cursor-pointer;
}

.header {
  background: #ffffffa4;
  backdrop-filter: blur(32px);
  box-shadow: 0px 5px 15px 0px #dcedff1a;
}

.react-datetime-picker__wrapper {
  border-color: var(--border) !important;
  border-radius: var(--radius) !important;
  padding: 0.5rem !important;
  background-color: var(--green-soft-kwn) !important;
}

.react-datetime-picker__calendar-button.react-datetime-picker__button {
  margin-top: -5px !important;
}

/* react-photoswipe-gallery */
.pswp__img {
  object-fit: contain !important;
  background: transparent !important;
  padding: 20px !important;
}

button.pswp__button.pswp__button--arrow--next.pswp__button--arrow.pswp__hide-on-close {
  visibility: visible !important;
}

button.pswp__button.pswp__button--arrow--prev.pswp__button--arrow.pswp__hide-on-close {
  visibility: visible !important;
}

/* Animate Opening leaf */
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }

  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(80px);
  }

  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  opacity: 0.6;
  top: -10%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}
